<header class="mat-typography">
  <section>
    <h1> שלום {{user}}. ברוך/ה הבא/ה ל Takeat!</h1>
  </section>
</header>
<main  *ngIf="!finishedOrdering">
  <section class="order-instructions">
    <p>
      זה המקום להזמין את המנה הטובה ביותר בארץ!
    </p>
    <p>
      יש לבחור לחם, תוספת ובשר למנה.
    </p>
    <P>
      בסיום הבחירה יש ללחוץ על כפתור "בצע הזמנה".
    </P>
    <P>
      בתיאבון!
    </P>
  </section>
  <section class="food-selectors-contrainer">
    <ng-container *ngIf="(menu$ | async) as menu">
      <app-food-selector [foodsToDisplay]="menu.breads" [isMulty]="false" foodTitle="לחם" (changed)="breadSelected($event)"></app-food-selector>
      <!-- <mat-divider></mat-divider> -->
      <hr>
      <app-food-selector [foodsToDisplay]="menu.salads" [isMulty]="true" foodTitle="סלטים" (changed)="saladSelected($event)"></app-food-selector>
      <!-- <mat-divider></mat-divider> -->
      <hr>
      <app-food-selector [foodsToDisplay]="menu.mainCourses" [isMulty]="false" foodTitle="מנה עיקרית" (changed)="mainCourseSelected($event)"></app-food-selector>
    </ng-container>
  </section>
  <section class="order-submit-container">
    <button mat-raised-button type="submit" (click)="sendOrder()">בצע הזמנה</button>
  </section>
</main>
<section class="center" *ngIf="finishedOrdering">
  <mat-card><h1>תודה שהזמנת ב Takeat!</h1></mat-card>
</section>
