<mat-card>
  <div class="mainDiv">
    <p>
      סיכום מרכיבים לרבע שעה:
    </p>
    <div class="foodTypeHeader">לחמים:</div>
    <mat-chip-list>
      <ul>
        <li *ngFor="let ingredient of ingredientsSum.breads">
          {{ ingredient[0] }} -
          <mat-chip selected="true">{{ingredient[1] }}</mat-chip>
        </li>
      </ul>
    </mat-chip-list>
    <div class="foodTypeHeader">סלטים:</div>
    <mat-chip-list>
      <ul>
        <li *ngFor="let ingredient of ingredientsSum.salads">
          {{ ingredient[0] }} -
          <mat-chip selected="true">{{ ingredient[1] }}</mat-chip>
        </li>
      </ul>
    </mat-chip-list>
    <div class="foodTypeHeader">מנה עיקרית:</div>
    <mat-chip-list>
      <ul>
        <li *ngFor="let ingredient of ingredientsSum.mainCourses">
          {{ ingredient[0] }} -
          <mat-chip selected="true"> {{ ingredient[1] }}</mat-chip>
        </li>
      </ul>
    </mat-chip-list>
  </div>
</mat-card>
